html,body{
	margin: 0px;
	padding:0px;	
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	background: white;
}

/*Nav*/
nav{
	color:#80828F;
	font-size: 0.9em;	
	height: 30px;
	background: #F6F7F9;
	padding: 5px 0px;
}
nav ul:nth-child(1){
	float: left;
}
nav ul{
	float:right;
	margin:0px 0px;
}
nav ul li{
	display: inline-block;
	margin:5px 10px;
	font-weight: bolder;
}
nav ul li a{
	text-decoration: none;
	color: #80828F;
}
nav ul li a:hover{
	color: orange;
}
nav ul li:nth-child(4){
	margin-right: 30px;
}

/*Header*/
header{
	margin-bottom: -3px;
}
header img{
	width: 100%;
	height: 350px;
}

/*div.navbar_second*/
section.navbar_second{
	margin: 0px 0px;
	padding-bottom: -10px;
	display: block;
	margin-bottom: 40px;
}
section.navbar_second img{
	float: left;
	position: relative;
}
/*Querys que evitan que el logo cambie de ubicacion al usarlo en dispositivos mas pequeños*/
@media screen and (max-width: 500px) {
   section.navbar_second img{
    }
}
@media screen and (max-width: 600px) {
   section.navbar_second img{
     right: 0px;
    }
}
section.navbar_second ul{
	vertical-align: bottom;
	margin: 10px 0px;
	text-align: left;
	float: left;
}
section.navbar_second ul li{
	margin:0px 20px;
	display: inline-block;
	margin: 0px 0px;
	font-weight: bold;
}
section.navbar_second ul li a{
	 text-decoration: none;
	 color: #80828F;
	 font-size: 1.2em;
	 padding:10px 10px;
}
section.navbar_second ul li a:hover{
	background: #FDAF20;
	color: white;
}

/*section.bloque*/
section.bloque{
	width: 100%;
	height: 60px;
	background: #FDAF20;
	border:1px solid orange;
	display: block;
}
section.bloque h1{
	margin:15px 20px;
	font-weight: bold;
	color: white;	
} 

/*section.formSesion*/
section.formSesion{
	border-top:1px solid #FDAF20;
	background-image: url("../img/Background6.jpg"); 
	background-size: 200%;
	background-repeat:repeat;
}
section.formSesion .contenido{
	border:2px solid #F6F7F9;
	margin:40px auto;
	width: 30%;
	padding: 10px 2%;	
	box-shadow: 4px 4px 30px #FDAF20;
	background-image: url("../img/Background6.jpg"); 
	background-size: 100%;
	background-repeat: repeat;
}
section.formSesion .contenido p{
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
}
section.formSesion .contenido .input-group{
	text-align: center;
}
section.formSesion .contenido input,select{
	background: rgba(246,247,249,0.1); 
	border-radius: 3px;
	padding: 3px 3px;	
	font-family: 'Raleway', sans-serif;
	background: #F6F7F9;
}
/*Codigo que permite cambiar el estilo al placeholder de los inputs*/
*::-webkit-input-placeholder {
    /* Google Chrome y Safari */
    color: #2D2D2D;
}
*:-moz-placeholder {
    /* Firefox anterior a 19 */
    color: #2D2D2D;
}
*::-moz-placeholder {
    /* Firefox 19 y superior */
    color: #2D2D2D;
}
*:-ms-input-placeholder {
    /* Internet Explorer 10 y superior */
    color: #2D2D2D;
}

section.formSesion .contenido div#botones{
	text-align: center;
	margin: 0px auto;
}
section.formSesion .contenido .mensajeAcceso{
	text-align: center;
	margin-top: 20px;
}

/***Pagina PanelControl***/
/*section.bloque ul.list_primary*/
section.bloque ul.list_primary{
	text-align: center;
	border:1px solid white;
	margin-top: -2px;
}
section.bloque ul.list_primary li{
	display: inline-block;
	margin:5px 10px;
}
section.bloque ul.list_primary li a{
	text-decoration: none;
	color: white;
	font-weight: bolder;
	font-size: 1.1em;
}

/*section.formSesion div.content_insert */
section.formSesion div.content_insert{
	margin: 40px auto;
}
/*section.formSesion div.content_list*/
section.formSesion div.content_list{
	width: 90%;	
	border:1px solid #E27C0C;
}
section.formSesion div.content_list form {
	text-align: center;
}
section.formSesion div.content_list form table{
	border:1px solid #F6F7F9;
	margin:0px auto;
	width: 100%;
}

section.formSesion div.content_list form table tr td.column-primary{
	background:#F6F7F9; 
}

/*section.bloque  ul.list_secundary*/
section.bloque ul.list_secundary{
	margin-top: -5px;
	display: none;
}
section.bloque ul.list_secundary li{
	display: inline-block;
	margin:0px 10px;
}
section.bloque ul.list_secundary li a{
	text-decoration: none;
	font-size: 1em;
	color: white;
	font-weight: bolder;
}

/****Page Products*****/
/*form-product*/
section.formSesion .form-product{
  width: 60%;
}
section.formSesion .form-product form{
  padding: 10px 50px;
  font-weight: bolder;
}
section.formSesion .form-product form div.input-group{
	text-align: left;
}

/***section.follow***/
section.follow{
	padding:30px 0px;
	background: #F6F7F9;
	margin-bottom: 10px;
}
section.follow .follow-images{
	text-align: center;
	width: 20%;
	margin: auto;
}
section.follow .follow-images div.img{
	display: inline-block;
}

/***footer***/
footer{
	background:#FDAF20;
	width: 100%;
	margin:-16px 0px;
	padding: 40px 0px;
	padding-bottom:0px;
	color: white;
	text-align: center;

}
footer div.content{
	width: 20%;
	margin:0px 3%;
	display: inline-block;
	vertical-align: top;

}
footer div.content h3{
	font-weight: bold;
}
footer div.content .description{
	font-weight: bolder;
	text-align: left;
}
/*styles for div news*/
footer div.content div.news{
	margin:10px 0px;
}
footer div.content div.square{
	height: 40px;
	width: 40px;
	background: white;
	display: inline-block;
}
footer div.content p.description-news{
	padding:0px 10px;
	width: 70%;
	display: inline-block;
	vertical-align: top;
}
/*styles for div labels*/
footer div.content div.label{
	background: #EF8D01;
	font-weight: bolder;
	display: inline-block;
	padding: 2px 6px;
	margin-bottom: 5px;
	text-align: left;
}
footer div.sub-footer{
	background: #EF8D01;
	margin-top: 40px;
	text-align: left;
	padding:2px 60px;
}
footer div.sub-footer h4{
	display: inline-block;
}
footer div.sub-footer ul {
	text-align: right;
	float: right;
}
footer div.sub-footer ul li{
	display: inline-block;
	margin: 0px 4px;
	font-weight: bolder;
}
footer div.sub-footer ul li a{
	text-decoration: none;
	color:white;
}